// COLORS
$color-dark-cyan: #004f68;
$color-dark-red: #681900;
$color-dark-red--shade: #a32700;

$color-white: #fff;
$color-black: #000;

// FONTS
$font-size-primary: 3rem;
$font-size-primary--379px: 2.7rem;
$font-size-primary--576px: 3.3rem;
$font-size-primary--768px: 3.5rem;
$font-size-primary--1200px: 4rem;

$font-size-secondary: 2.3rem;
$font-size-secondary--379px: 2rem;
$font-size-secondary--576px: 2.5rem;
$font-size-secondary--768px: 2.7rem;
$font-size-secondary--1200px: 3rem;

$font-size-tertiary: 1.7rem;
$font-size-tertiary--379px: 1.5rem;
$font-size-tertiary--576px: 2rem;
$font-size-tertiary--768px: 2.3rem;
$font-size-tertiary--1200px: 2.5rem;

$default-font-size: 1.15rem;
$default-font-size--379px: 1.1rem;
$default-font-size--576px: 1.2rem;
$default-font-size--768px: 1.25rem;
$default-font-size--1200px: 1.3rem;
