.footer {
  font-family: inherit;
  color: $color-white;
  background-color: $color-black;

  &__follow {
    background-color: $color-dark-cyan;

    & a {
      background-color: $color-black;

      & .fa {
        &-github,
        &-linkedin,
        &-vimeo,
        &-facebook {
          font-size: 2.1rem;
          width: 2rem;
          height: 2rem;

          @include respond(above_576) {
            font-size: 2.4rem;
            width: 2.3rem;
            height: 2.3rem;
          }

          @include respond(above_768) {
            font-size: 2.65rem;
            width: 2.55rem;
            height: 2.55rem;
          }

          @include respond(above_1200) {
            font-size: 2.9rem;
            width: 2.8rem;
            height: 2.8rem;
          }
        }
      }
    }
  }

  & a {
    color: $color-white;

    &:hover {
      color: $color-white;
      text-decoration: none;
    }
  }
}
