.contact-section {
  background-color: #690a26;
  background-image: linear-gradient(0, $color-dark-cyan, transparent);

  &__wrapper {
    padding-top: 7rem;
    padding-bottom: 7rem;

    @include respond(above_576) {
      padding-top: 9rem;
      padding-bottom: 9rem;
    }

    @include respond(above_768) {
      padding-top: 11rem;
      padding-bottom: 11rem;
    }
  }

  & h3 {
    color: #06807c;
  }

  & p {
    color: #056d6a;

    & a,
    & a:hover {
      color: $color-black;
    }
  }
}
