.btn__custom {
  width: 17rem;
  color: $color-dark-cyan;
  border: 2px solid $color-dark-cyan;

  &:hover {
    color: $color-white;
    background-color: $color-dark-cyan;
  }

  &--black {
    color: $color-black;
    border: 2px solid $color-black;

    &:hover {
      color: #056d6a;
      background-color: $color-black;
    }
  }
}