.form__custom {
  width: 90%;

  @include respond(above_576) {
    width: 27rem;
  }

  &-placeholder {
    color: $color-black;
    top: -2px;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
    pointer-events: none;

    &::after {
      content: attr(data-text);
      pointer-events: none;
    }
  }

  &-placeholder {
    font-size: $default-font-size;

    @include respond(above_576) {
      font-size: $default-font-size--576px;
    }

    @include respond(above_768) {
      font-size: $default-font-size--768px;
    }

    @include respond(above_1200) {
      font-size: $default-font-size--1200px;
    }
  }

  &-message {
    font-size: 0.95rem;

    @include respond(above_576) {
      font-size: 1rem;
    }

    @include respond(above_768) {
      font-size: 1.05rem;
    }

    @include respond(above_1200) {
      font-size: 1.1rem;
    }
  }
}
