.form__custom {
  width: 90%;

  @include respond(above_576) {
    width: 27rem;
  }

  &-placeholder {
    color: $color-black;
    top: -2px;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
    pointer-events: none;

    &::after {
      content: attr(data-text);
      pointer-events: none;
    }
  }

  &-placeholder,
  &-message {
    font-size: 1.3rem;
  }
}
