.main-hero {
  background-color: $color-black;

  & .heading-primary {
    z-index: 2;
  }

  &__description {
    width: 100%;
    z-index: 2;

    @include respond(above_768) {
      width: 43rem;
    }
  }

  &__img {
    width: 90%;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.2;
    z-index: 1;

    @include respond(above_576) {
      width: 25rem;
    }
  }
}
