body {
  font-family: 'Noto Sans JP', 'Open Sans', 'Roboto', sans-serif;
}

.heading-primary {
  font-size: $font-size-primary;
  color: $color-dark-cyan;
}

.heading-secondary {
  font-size: $font-size-secondary;
}

.heading-tertiary {
  font-size: $font-size-tertiary;
  font-weight: 200;
  color: $color-dark-red;
}

.paragraph {
  font-size: $default-font-size;
}