.about-section {
  background-color: $color-dark-cyan;

  &__wrapper {
    padding-top: 7rem;
    padding-bottom: 7rem;

    @include respond(above_576) {
      padding-top: 11rem;
      padding-bottom: 11rem;
    }
  }

  & h2 {
    color: $color-dark-red--shade;
  }

  & p {
    color: $color-white;
  }

  @include respond(above_576) {
    background-image: url('../../img/collage.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}
