.about-section {
  background: $color-dark-cyan url('../../img/collage.png') no-repeat;

  &__wrapper {
    padding-top: 11rem;
    padding-bottom: 11rem;
  }

  & h2 {
    color: $color-dark-red;
  }

  & p {
    color: $color-white;
  }
}