.about-section {
  background-color: $color-dark-cyan;
  background-image: url('../../img/collage.png');
  background-repeat: no-repeat;
  background-position: center;

  &__wrapper {
    padding-top: 6rem;
    padding-bottom: 6rem;

    @include respond(below_379) {
      padding-top: 5.3rem;
      padding-bottom: 5.3rem;
    }

    @include respond(above_576) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

    @include respond(above_768) {
      padding-top: 9.5rem;
      padding-bottom: 9.5rem;
    }

    @include respond(above_992) {
      padding-top: 11rem;
      padding-bottom: 11rem;
    }
  }

  & h3 {
    color: $color-white;
    text-shadow: 0px 0px 1.4px $color-black;
  }

  & p {
    color: #d7ecff;
    text-shadow: 0px 0px 2px $color-black;
  }
}
