.portfolio-section {
  &__wrapper {
    padding-top: 7rem;
    padding-bottom: 7rem;

    @include respond(above_576) {
      padding-top: 11rem;
      padding-bottom: 11rem;
    }
  }

  &__gallery-wrapper {
    padding-left: 0;
    padding-right: 0;

    @include respond(above_576) {
      padding-left: inherit;
      padding-right: inherit;
    }
  }
}
